In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
# Loading dataset
dataset = pd.read_csv('Churn_Modelling.csv')

In [6]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [8]:
X = dataset.iloc[:,3:13].values
Y = dataset.iloc[:,13].values

In [9]:
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [10]:
print(Y)

[1 0 1 ... 1 1 0]

## Labelling and enconding our data

In [17]:
!pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.6.1-cp311-cp311-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\max\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (2.2.1)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.15.1-cp311-cp311-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.6.1-cp311-cp311-win_amd64.whl (11.1 MB)
   ---------------------------------------- 0.0/11.1 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.1 MB 4.2 MB/s eta 0:00:03
   ------ --------------------------------- 1.8/11.1 MB 5.3 MB/s eta 0:00:02
   ---------- ----------------------------- 2.9/11.1 MB 5.4 MB/s eta 0:00:02
   --------------- ------------------------ 4.2/11.1 MB 5.2 MB/s eta 0:00:02
   ------------------ --------------------- 5.2/11.1 MB 5.3 MB/s eta 0:00:02
   ---------------------- ----------------- 6.3/11.1 MB 5.1 MB/s eta 0:00:01
   ------------------------- -------------- 7.1/11.1 MB 4.9 MB/s eta 0:00:01
   ----------------------------- ---------- 8.1/11.1 MB 4.8 MB/s eta 0:00:01
   -------------------------------- ------- 8.9/11.1 MB 4.8 MB/s eta 0:00:01
   ------------------------------------- -- 10.5/11.1 MB 4.8 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------- 11.1/11.1 MB 2.8 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading scipy-1.15.1-cp311-cp311-win_amd64.whl (43.9 MB)
   ---------------------------------------- 0.0/43.9 MB ? eta -:--:--
    --------------------------------------- 1.0/43.9 MB 5.0 MB/s eta 0:00:09
   - -------------------------------------- 2.1/43.9 MB 4.9 MB/s eta 0:00:09
   --- ------------------------------------ 3.4/43.9 MB 5.3 MB/s eta 0:00:08
   ---- ----------------------------------- 4.5/43.9 MB 5.3 MB/s eta 0:00:08
   ---- ----------------------------------- 5.2/43.9 MB 5.1 MB/s eta 0:00:08
   ----- ---------------------------------- 6.0/43.9 MB 4.7 MB/s eta 0:00:09
   ----- ---------------------------------- 6.6/43.9 MB 4.3 MB/s eta 0:00:09
   ------ --------------------------------- 7.1/43.9 MB 4.2 MB/s eta 0:00:09
   ------- -------------------------------- 8.1/43.9 MB 4.2 MB/s eta 0:00:09
   -------- ------------------------------- 9.2/43.9 MB 4.2 MB/s eta 0:00:09
   --------- ------------------------------ 10.2/43.9 MB 4.3 MB/s eta 0:00:08
   ---------- ----------------------------- 11.0/43.9 MB 4.3 MB/s eta 0:00:08
   ----------- ---------------------------- 12.3/43.9 MB 4.4 MB/s eta 0:00:08
   ------------ --------------------------- 13.4/43.9 MB 4.4 MB/s eta 0:00:07
   ------------- -------------------------- 14.7/43.9 MB 4.5 MB/s eta 0:00:07
   -------------- ------------------------- 15.5/43.9 MB 4.6 MB/s eta 0:00:07
   -------------- ------------------------- 15.7/43.9 MB 4.3 MB/s eta 0:00:07
   --------------- ------------------------ 16.5/43.9 MB 4.3 MB/s eta 0:00:07
   --------------- ------------------------ 16.5/43.9 MB 4.3 MB/s eta 0:00:07
   --------------- ------------------------ 17.0/43.9 MB 4.0 MB/s eta 0:00:07
   ---------------- ----------------------- 17.8/43.9 MB 3.9 MB/s eta 0:00:07
   ---------------- ----------------------- 18.6/43.9 MB 3.9 MB/s eta 0:00:07
   ----------------- ---------------------- 19.7/43.9 MB 4.0 MB/s eta 0:00:07
   ------------------ --------------------- 20.7/43.9 MB 4.0 MB/s eta 0:00:06
   ------------------- -------------------- 21.8/43.9 MB 4.1 MB/s eta 0:00:06
   --------------------- ------------------ 23.1/43.9 MB 4.1 MB/s eta 0:00:06
   --------------------- ------------------ 23.9/43.9 MB 4.1 MB/s eta 0:00:05
   ---------------------- ----------------- 24.9/43.9 MB 4.1 MB/s eta 0:00:05
   ----------------------- ---------------- 26.0/43.9 MB 4.1 MB/s eta 0:00:05
   ------------------------ --------------- 27.0/43.9 MB 4.2 MB/s eta 0:00:05
   ------------------------- -------------- 28.0/43.9 MB 4.2 MB/s eta 0:00:04
   -------------------------- ------------- 29.1/43.9 MB 4.2 MB/s eta 0:00:04
   --------------------------- ------------ 30.1/43.9 MB 4.3 MB/s eta 0:00:04
   ---------------------------- ----------- 31.5/43.9 MB 4.3 MB/s eta 0:00:03
   ----------------------------- ---------- 32.5/43.9 MB 4.3 MB/s eta 0:00:03
   ------------------------------ --------- 33.6/43.9 MB 4.3 MB/s eta 0:00:03
   ------------------------------- -------- 34.9/43.9 MB 4.4 MB/s eta 0:00:03
   -------------------------------- ------- 35.9/43.9 MB 4.4 MB/s eta 0:00:02
   -------------------------------- ------- 35.9/43.9 MB 4.4 MB/s eta 0:00:02
   --------------------------------- ------ 37.2/43.9 MB 4.3 MB/s eta 0:00:02
   ---------------------------------- ----- 38.3/43.9 MB 4.3 MB/s eta 0:00:02
   ----------------------------------- ---- 39.3/43.9 MB 4.3 MB/s eta 0:00:02
   ------------------------------------- -- 40.6/43.9 MB 4.4 MB/s eta 0:00:01
   ------------------------------------- -- 41.7/43.9 MB 4.4 MB/s eta 0:00:01
   -------------------------------------- - 42.7/43.9 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------  43.8/43.9 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------  43.8/43.9 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------  43.8/43.9 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------  43.8/43.9 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------  43.8/43.9 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------  43.8/43.9 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------  43.8/43.9 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------  43.8/43.9 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------  43.8/43.9 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------  43.8/43.9 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------- 43.9/43.9 MB 3.6 MB/s eta 0:00:00
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.6.1 scipy-1.15.1 threadpoolctl-3.5.0

In [18]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [19]:
labelencoder_X_2 = LabelEncoder()

In [21]:
X[:,2] = labelencoder_X_2.fit_transform(X[:,2])

In [22]:
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

In [23]:
from sklearn.compose import ColumnTransformer

In [25]:
ct = ColumnTransformer([('ohe',OneHotEncoder(),[1])], remainder='passthrough')

In [30]:
# X = np.array(ct.fit_transform(X), dtype = np.str)
X = np.array(ct.fit_transform(X), dtype=np.str_)

In [31]:
X = X[:,1:]

In [32]:
print(X)

[['0.0' 'France' '42' ... '1' '1' '101348.88']
 ['0.0' 'Spain' '41' ... '0' '1' '112542.58']
 ['0.0' 'France' '42' ... '1' '0' '113931.57']
 ...
 ['0.0' 'France' '36' ... '0' '1' '42085.58']
 ['1.0' 'Germany' '42' ... '1' '0' '92888.52']
 ['0.0' 'France' '28' ... '1' '0' '38190.78']]

## Spliting the data into training set and test set

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)